{% extends "base.html" %}


{% block post-list %}

{% for post in posts %}

<div class="post">
	<h2><b>{{post.nick_name}}</b></h2>
	<h4><b>{{post.date}}</b></h4>
	<p>{{post.english}}</p>

	<div class="vote-container vote-container-button" id="rofl-{{post.key}}">	
		<span class="vote-button" >rofl</span> 
		<span class="vote-value">{{post.rofl}}</span>
	</div>
	<div class="vote-container vote-container-button" id="lol-{{post.key}}">
		<span class="vote-button">lol</span> 
		<span class="vote-value">{{post.lol}}</span>
	</div>
	<div class="vote-container vote-container-button" id="meh-{{post.key}}">	
		<span class="vote-button">meh</span> 
		<span class="vote-value">{{post.meh}}</span>
	</div>
	<div class="vote-container vote-container-button" id="dislike-{{post.key}}">	
		<span class="vote-button">dislike</span> 
		<span class="vote-value">{{post.dislike}}</span>
	</div>
	
	<br><br>
	<h4><b><a href="/specifically/{{post.key}}">Permalink</a></b></h4>
</div>
{% endfor %}


	<script type="text/javascript">
		jQuery(document).ready(function() {
			jQuery('.vote-container-button').click(function(){
				var elementId = jQuery(this).attr('id');
				var data = {"elementId":elementId};
	       	 	jQuery.ajax({
		  			url: "/upvote",
		  			type: 'POST',
					async:false,
		  			data: data,
		  			success: function(data, status){
						console.log('done');
						jQuery('#'+elementId).addClass('vote-clicked');
						jQuery('#'+elementId).removeClass('vote-container-button');
		  			}
				});
			});
			jQuery('#submitButton').click(function(){
				console.log('clicked share');
				var elementId = jQuery(this).attr('id');
				
				$('#text-post').removeClass("invalid");
				if($('#text-post').val()==null || $('#text-post').val()==""){
					$('#text-post').addClass("invalid");
					return false;
				}
				
				
				var data = $("#translate").serialize();
				
				
				
				
	       	 	jQuery.ajax({
		  			url: "/submit",
		  			type: 'POST',
					async:true,
		  			data: data,
		  			success: function(data, status){
						console.log('returned ok');
						jQuery('.successful-post').delay(700).fadeIn(60);
						// delay a thank you message
						jQuery('#translate').fadeOut(700);
		  			}
				});
			});
		});
	</script>


{% endblock %}







