{% extends "base.html" %}

{% block form %}
  <form method="post" id="translate">
	<fieldset>
      <input placeholder="{{ placeholder }}" name="phrase" class='phrase'>
      <button class="chew-btn chew-btn-active" type="submit" onclick=" _gaq.push(['_trackEvent', ' Main Page', 'Click Translate button', 'nth page']);"></button>
    </fieldset>
  </form>

<script>
// Validate
$('#translate').submit(function() {
  if($('.phrase').val() == ''){
	$('.phrase').addClass('invalid-input')
    return false;
  }
});

</script>
{% endblock %}


{% block translate %}
 <p><strong>Wookie Translation:</strong> {{ translation }} </p>
{% endblock %}



{% block share %}
<div id='fb-root'></div>
  <script src='http://connect.facebook.net/en_US/all.js'></script>
  <script> 
    FB.init({appId: "45549182362", status: true, cookie: true});

    function postToFeed() {

      // calling the API ...
      var obj = {
        method: 'feed',
        redirect_uri: 'http://www.wookietranslator.com',
        link: 'http://www.wookietranslatorlator.com/uughghhhgh/{{ translationId }}',
        name: 'Wookie Translator',
        caption: 'Chewy Translations',
        description: 'uuughh hnnnhrrhhh awwgggghhh wrrhwrwwhw!'
      };

      function callback(response) {
        document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
      }

      FB.ui(obj, callback);
    }

	function SelectAll(id){
	    document.getElementById(id).focus();
	    document.getElementById(id).select();
	}

  
  </script>

<p>
	<span class='share-text'>Share <b><i>this</i></b> translation on </span> 
	<a href="#" class='fb-button' onclick=" _gaq.push(['_trackEvent', 'Translated Page', 'Share', 'Facebook']); postToFeed(); return false;">
		Facebook 
	</a>or 
	<a class="tw-button" onClick="_gaq.push(['_trackEvent', 'Translated Page', 'Share', 'Twitter']);"href="http://twitter.com/share?url=http://www.wookietranslator.com/uughghhhgh/{{ translationId }}" target="_blank" rel="nofollow">
		Twitter
	</a>
</p>
<p>
	<input readonly="readonly" value="http://www.wookietranslator.com/uughghhhgh/{{ translationId }}" class="direct-link" onClick="_gaq.push(['_trackEvent', 'Translated Page', 'Share', 'link text']); SelectAll('directlink');" id="directlink" />
</p>






{% endblock %}




